.button-container {
    height: 63px;
    display: flex;
    flex: 1 1; /*expands the 2 buttons with the same width*/
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    background-color: rgba(25, 201, 245, 0.822);
    color: rgb(14, 10, 10);
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none; /*text cant be selected with mouse*/
}

.button-container:hover {
    background-color: #5a01a7;
    color: white;
}

.operator {
    background-color: #61c788;
}

.operator:hover {
    background-color: #ff6600;
}