.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #bfbfd4;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 150px;
}

.calculator-container {
  width: 400px;
  height: 400px;
  padding: 14px;
  color: #99c9ff;
  border-radius: 20px;
  border: 5px solid whitesmoke;
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}